<nav class="navbar navbar-expand-md bg-light navbar-light">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="logo" style="width:40px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adduser" href="#">New User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/edituser">Edit User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/deleteuser">Delete User</a>
      </li>
    </ul>
  </div>
</nav>
